body{
    background-color: #0a151e;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 5em;
}
.grid > a,
.grid > img,
.grid > a > img {
  width: 70%;
  display: grid;
  place-items: center;
  margin: auto;
  justify-self: center;
  align-self: center;
}
.nomobile{
    display: none;
}
#avatar{
    display: none;
}
img {
    border: solid 0.2em black;
  
    border-radius: 1cm;
    box-shadow: 0 0 1em #ff0000;
}