.Name {
    color: #ff0000;
    font-size: 50px;
    text-align: center;
}
body {
    background-color: rgb(77, 77, 77);
    margin: 0px;
}
.twitter {
    color: #00acee;
}
.reddit { 
    color: #FF5700;
}
.discord {
    color:#5865F2;
}
a {
    font-size: 45px;
    text-align: center;
}
.grid {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.grid>img {
    width: 70%;
    justify-self: center;
    align-self: center;
}
.twitterlogo {
    width:90% !important;
}
@media screen and (max-width: 480px) {
    a {
      font-size: 20px !important;
    }
  }